USE [master]
GO
/****** Object:  Database [Contact]    Script Date: 30/09/2020 10:34:04 am ******/
CREATE DATABASE [Contact]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Contact', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Contact.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Contact_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Contact_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Contact].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Contact]
GO
/****** Object:  Table [dbo].[dboperson]    Script Date: 30/09/2020 10:34:04 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dboperson](
	[ID] [int] NOT NULL,
	[FirstName] [nchar](100) NULL,
	[SurName] [nchar](10) NULL,
 CONSTRAINT [PK_dboperson] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[dboperson] ([ID], [FirstName], [SurName]) VALUES (1, N'Harpreet                                                                                            ', N'Kaur      ')
INSERT [dbo].[dboperson] ([ID], [FirstName], [SurName]) VALUES (2, N'Navpreet                                                                                            ', N'Kaur      ')
INSERT [dbo].[dboperson] ([ID], [FirstName], [SurName]) VALUES (3, N'Suman                                                                                               ', N'Kaur      ')
GO
USE [master]
GO
